{# templates/hobbies.html.twig #}

{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/hobbies.css') }}">
{% endblock %}

{% block header %}
    <h1>{{ pageTitle }}</h1><a id="update" href='#'>Обновить фотографии у всех увлечений</a>
{% endblock %}

{% block article %}
    {% for note in notes %}
        <div class="content__item">
            <div class="item__data">
                <h2 class="data__title">{{ note.array.data.caption }}</h2>
                <p class="data__text">{{ note.array.data.text }}</p>
                <a class="more" href="{{ note.url }}">Читать далее</a>
            </div>
            <div class="item__img">
                <img src="{{ note.array.data.image }}" alt="Картинка">
            </div>
        </div>
    {% endfor %}
    <script type="text/javascript" src="{{ asset('build/hobbies.js') }}"></script>

{% endblock %} 