{# templates/hobby.html.twig #}

{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/hobby.css') }}">
{% endblock %}

{% block script %}
{% endblock %}

{% block header %}
    <h1 class="hobby" id="{{ id }}">{{ pageTitle }}</h1><a id="update" href='#'>Обновить фотографии у текущего увлечений</a>
{% endblock %}

{% block article %}
    <div class="slider" id="slider">
        <div class="slider__elements">
            {% for photo in photos %}
                <div class="slider-item item-{{ loop.index }}">
                    <img src="{{ photo }}" alt="Image" class="slide-img">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="content__item">
        <div class="item__data">
            <p class="data__text">{{ text }}</p>
            <a href="/hobbies">Назад</a>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('build/hobby.js') }}"></script>
{% endblock %}